/* Universals */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

img:hover{
    opacity: 0.5;
}

/* Main */
main {
    display: inline-block;
    background-color: rgba(28, 139, 177, 0.3);
}

/* Header */
header {
    background-color: rgb(28, 139, 177);
    color: white;
    top: 0px;
    flex-wrap: wrap;
    z-index: 1;
    position: sticky;
    height: 50px;
    padding-top: 10px;
}   

header h2 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

/* Navigation */
nav {
    margin-right: 20px;
    font-size: 20px;
    background-color: rgb(28, 139, 177);
    color: white;
    padding-bottom: 15px;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    margin-left: 225px;
    padding-top: 25px;
}

/* Hero */
.hero {
    height: 200px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
}

.hero p {
    background-color: rgb(28, 139, 177);
    width: 235px;
    height: 25px;
    padding-top: 2px;
    padding-left: 5px;
    float: left;
    margin-top: 90px;
    color: white;
    font-size: larger;
    border-radius: 8px;
}

/* About-Me */
#about-me {
    display: inline-flex;
    padding-top: 5px;
}

#about-me h3 {
    font-size: xx-large;
    display: flex;
    border-right: 5px solid rgb(28, 139, 177);
    width: 150px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-top: 50px;
    padding-right: 10px;
}

#about-me p {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 100px;
}

/* Work */
#work {
    display: flex;
    position: static;
    padding-top: 5px;
}

#work h3 {
    font-size: xx-large;
    float: left;
    border-right: 5px solid rgb(28, 139, 177);
    width: 103px;
    height: 600px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-top: 50px;
}

/* Primary Image and Text */
.horiseon {
    position: relative;
    text-align: center;
    color: white;
    left: 50px;
}

#primary-work {
    display: flex;
    border-radius: 8px;
    height: 600px;
    width: 900px;
    left: 110px;
    top: 50px;
    position: relative;
}

.primary-text {
    position: absolute;
    z-index: 1;
    top: 550px;
    left: 130px;
    background-color: rgb(28, 139, 177);
    color: white;
    font-size: xx-large;
    width: fit-content;
    border-radius: 8px;
    height: fit-content;
}

/* More Work */
#more {
    display: flex;
    position: static;
    padding-top: 5px;
}

#more h3 {
    font-size: xx-large;
    float: left;
    border-right: 5px solid rgb(28, 139, 177);
    width: 103px;
    height: 200px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-top: 50px;
}

/* More Work Images and Titles */
.secondary {
    position: relative;
    text-align: center;
    color: white;
    left: 50px;
}

#secondary-work {
    display: flex;
    border-radius: 8px;
    height: 200px;
    width: 290px;
    left: 110px;
    top: 50px;
    position: relative;
}

.secondary-text {
    position: absolute;
    z-index: 1;
    background-color: rgb(28, 139, 177);
    color: white;
    width: fit-content;
    border-radius: 8px;
    height: fit-content;
    left: 130px;
    bottom: 20px;
}

.tertiary {
    position: relative;
    text-align: center;
    color: white;
    left: 50px;
    margin-left: 15px;
}

#tertiary-work {
    display: flex;
    border-radius: 8px;
    height: 200px;
    width: 290px;
    left: 110px;
    top: 50px;
    position: relative;
}

.tertiary-text {
    position: absolute;
    z-index: 1;
    background-color: rgb(28, 139, 177);
    color: white;
    width: fit-content;
    border-radius: 8px;
    height: fit-content;
    left: 130px;
    bottom: 20px;
}

.quarternary {
    position: relative;
    text-align: center;
    color: white;
    left: 50px;
    margin-left: 15px;
}

#quarternary-work {
    display: flex;
    border-radius: 8px;
    height: 200px;
    width: 290px;
    left: 110px;
    top: 50px;
    position: relative;
}

.quarternary-text {
    position: absolute;
    z-index: 1;
    background-color: rgb(28, 139, 177);
    color: white;
    width: fit-content;
    border-radius: 8px;
    height: fit-content;
    left: 130px;
    bottom: 20px;
}

/* Contact Me */
#contact-me {
    display: flex;
    position: static;
    padding-top: 5px;
}

#contact-me h3 {
    font-size: xx-large;
    float: left;
    border-right: 5px solid rgb(28, 139, 177);
    width: 103px;
    height: 100px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#contact-me p {
    margin-top: 85px;
    margin-left: 110px;
    font-size: larger;
    display: inline-flex;
    flex-wrap: wrap;
}

#contact-me a {
    color: rgb(28, 139, 177);
}

/* Footer */
footer {
    background-color: rgb(28, 139, 177);
    color: white;
    bottom: 0px;
    flex-wrap: wrap;
    z-index: 1;
    position: sticky;
    height: 50px;
    padding-top: 10px;
}

footer h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}